form {
    background-color: grey;
    padding:20px;
    height:650px;
    
}

.announcement {
    border: none;
    border-radius: 10px;
    background-color: white;
    padding: 10px;
}

.announcement h3, p {
    color: purple;
} 

.radiodiv {
    border:none;
    padding: 10px;
    margin: 10px;
    color:white;
}

label {
    padding: 5px;
}

.inputfields {
    padding: 10px;
    color: white;
    margin: 10px;
}

.inputfields input{
    border-radius: 10px;
    
    outline: none;
    border-color: transparent;
    
}

button {
    margin: 20px;
    padding: 10px;
    border-radius:10px;
    border-color:transparent;
    color: white;
    background-color: purple;
}

button:hover {
   background-color: lightcoral; 
}

